.wizard
{
	float: right;
	width: 25em;
	margin: auto;
}

.sitemap
{
	width: 35em;
	margin: auto;
}

p
{
	padding-right: 15px;
	padding-top:5px;
	padding-left: 3px;
	padding-bottom:10px;
	text-align: justify;
	width: 40em;
	margin-bottom: 2em;
	margin-top: 2em;
	display: block;
}

p::first-letter {
	float: left;
	width: .8m;
	line-height: 33%;
	font-family: cursive;
	font-size: 200%;
	font-weight: bold;
}

ul {
	text-align: left;
	width: 56em;
}

img
{
	max-width: 800px;
}

.container
{
	width: 900px;
	margin: 0;

}