.magicmargin
{
	margin-top: 10em;
	margin-bottom: 20em;
}

#middlewizard
{
	background-color: darkblue;
	max-width: 20%;
}

.img-center
{
	margin: 0 auto;
}

.section-breaker
{
	margin-top: 8em;
}

.paragraph-breaker
{
	margin-top: 4em;
}
